USE [master]
GO
/****** Object:  Database [StockDB]    Script Date: 9/26/2025 4:14:25 PM ******/
CREATE DATABASE [StockDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockDB', FILENAME = N'F:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\StockDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockDB_log', FILENAME = N'F:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\StockDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockDB]
GO
/****** Object:  Table [dbo].[Tbl_Stock]    Script Date: 9/26/2025 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NULL,
	[description] [varchar](100) NULL,
	[purchasePrice] [decimal](10, 0) NULL,
	[salePrice] [decimal](10, 0) NULL,
	[deleteFlag] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Stock] ON 

INSERT [dbo].[Tbl_Stock] ([id], [code], [description], [purchasePrice], [salePrice], [deleteFlag]) VALUES (1, N'1', N'Stock 0001', CAST(1000 AS Decimal(10, 0)), CAST(1500 AS Decimal(10, 0)), 0)
INSERT [dbo].[Tbl_Stock] ([id], [code], [description], [purchasePrice], [salePrice], [deleteFlag]) VALUES (2, N'2', N'Stock 0002', CAST(1000 AS Decimal(10, 0)), CAST(1500 AS Decimal(10, 0)), 0)
INSERT [dbo].[Tbl_Stock] ([id], [code], [description], [purchasePrice], [salePrice], [deleteFlag]) VALUES (3, N'3', N'Stock 0003', CAST(1000 AS Decimal(10, 0)), CAST(1500 AS Decimal(10, 0)), 0)
SET IDENTITY_INSERT [dbo].[Tbl_Stock] OFF
GO
ALTER TABLE [dbo].[Tbl_Stock] ADD  CONSTRAINT [DF_Tbl_Stock_deleteFlag]  DEFAULT ((0)) FOR [deleteFlag]
GO
USE [master]
GO
